
<section class="welcome">
	<div class="container welcome">
	  <div class="wel-co caps">
	  	<h1>
	    	We <span class="red">Focus</span> On
	    </h1>
	    <h1>
	     	<span class="red">P</span>eople, <span class="red">P</span>assion and 
	    </h1>
	    <h1>
	     	<span class="red">L</span>eadership
	    </h1>
	  </div>
	</div>
</section>

<main>
	<div class="container wwd">
  	<div class="row">
    	<h1 class="title">
      	What We Do
      </h1>
    </div>
    <div class="pt-4 row wwd-card-row">
    	<div class="col-12 col-lg-6 mb-4">
      	<div onmouseover="wwdCardShadow(this)" onmouseout="removeWwdCardShadow(this)" class="wwd-card shadow-sm rounded">
					<h2 class="pt-5 topic red">Web Development</h2>
          <p class="content pt-3">
          	We planning, conceptualize, and arrange content intended for the Internet. Modern web design goes beyond how things look (aesthetics) to include how things work (functionality). Web design is not limited to websites as it includes other uses such as web apps, mobile apps, and user interface design.
          </p>
          <a href="#" class="km">
          	Know more
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-4">
      	<div onmouseover="wwdCardShadow(this)" onmouseout="removeWwdCardShadow(this)" class="wwd-card shadow-sm rounded">
					<h2 class="pt-5 topic red">App Development</h2>
          <p class="content pt-3">
          	We planning, conceptualizing, and arranging content intended for the Internet. Modern web design goes beyond how things look (aesthetics) to include how things work (functionality). Web design is not limited to websites as it includes other uses such as web apps, mobile apps, and user interface design.
         	</p>
          <a href="#" class="km">
          	Know more
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-4">
      	<div onmouseover="wwdCardShadow(this)" onmouseout="removeWwdCardShadow(this)" class="wwd-card shadow-sm rounded">
          <h2 class="pt-5 topic red">Personal chatbots</h2>
          <p class="content pt-3">
            We planning, conceptualizing, and arranging content intended for the Internet. Modern web design goes beyond how things look (aesthetics) to include how things work (functionality). Web design is not limited to websites as it includes other uses such as web apps, mobile apps, and user interface design.
          </p>
          <a href="#" class="km">
            Know more
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-4">
        <div onmouseover="wwdCardShadow(this)" onmouseout="removeWwdCardShadow(this)" class="wwd-card shadow-sm rounded">
          <h2 class="pt-5 topic red">Virtual assistants</h2>
            <p class="content pt-3">
              We planning, conceptualizing, and arranging content intended for the Internet. Modern web design goes beyond how things look (aesthetics) to include how things work (functionality). Web design is not limited to websites as it includes other uses such as web apps, mobile apps, and user interface design.
            </p>
            <a href="#" class="km">
            	Know more
              <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
      </div>
    </div>

    <div class="our-business container mt-sm-5 pt-sm-3">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h2 class="title red center">Our business</h2>
          <div class="inner-content content justify pt-3 pl-4 pr-4">
            <p>
              Currently we are running a e-commerce business namely VICCON CFF(Classy Fashion Fiesta) which allows the customers to buy products in our online store and also it allows the reseller to share the products in our website and earn money.
            </p>
            <div class="contact-btn">
              <a class="btn content">Work with us</a>
            </div>
          </div>
        </div>
        <div class="border col-12 col-lg-6">
          <img src="" alt="">
        </div>
      </div>
    </div>
    
    <div class="testimonial container mt-5 pt-3  pl-5 pr-5 pb-4">
      <div class="row">
        <div class="col-12">
          <h2 class="title red center">Testimonial</h2>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-12">
          <p class="justify content">
            At Viccon, we value our clients and business partners.  We focus more on quality rather than quantity, we always make our clients to be satisfied with our work.  We follow our own coding strategy, to it make the code more understandable to the developers.  Our team has the developers who can create responsive websites and apps with the latests design trends.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8 ml-auto mr-auto">
          <div class="mainSlider">
            <div id="mainSlider" class="carousel slide carousel-slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p class="content justify">
                    <i class="fa fa-quote-left"></i>  
                    VICCON did a great job on our website. We regularly update our page layouts and content to improve conversions, and they're always quick to implement changes we request. Their monthly reports are also extremely valuable to us.  
                    <i class="fa fa-quote-right"></i>
                  </p>
                </div>
                <div class="carousel-item">
                  <p class="content justify">
                    <i class="fa fa-quote-left"></i>  
                    VICCON did a great job on our website. We regularly update our page layouts and content to improve conversions, and they're always quick to implement changes we request. Their monthly reports are also extremely valuable to us.  
                    <i class="fa fa-quote-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>